<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - La Choza del Ema</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <!-- IMAGEN PORTADA -->
    <div>
        <img src="imagenes/index1.png" class="img-fluid" alt="Imagen portada">
    </div>
    <nav th:replace="/fragments/navbar :: nav"></nav>
    
    <!-- BARRA DE NAVEGACION -->

     <div th:replace="/fragments/personajes :: div"></div>
      
      <!-- HTML A YOUTUBE -->
    <div class="container">
      <a th:href="@{/youtubeChannel}"><img src="imagenes/youtubeLink.png" class="img-fluid"></a>
      <h3>
          Mira más videos en nuestro canal de YouTube. No te olvides de suscribirte para apoyarnos.
      </h3>
      </class>
    </div>

      <!-- LINK A PESTAÑA REVIEWS -->
    <div class="container">
      <a th:href="@{/youtubeListReview}"><img src="imagenes/reviewLink.png" class="img-fluid"></a>
      <h3>
          Lee las reviews que hemos preparado para vos.
      </h3>
    </class>
    </div>

    <!-- PIE DE PAGINA -->
    <div th:replace="/fragments/piePagina :: div"></div>

</body>
</html>