 <!-- PERSONAJES -->
      <div>
        <button type="button"> <img src="/imagenes/elemanu.png" height ="80" width="100" /></button>  <!-- ElEmanu -->
        <button type="button"> <img src="/imagenes/TJMorgan.png" height ="80" width="100" /></button>  <!-- TJ Morgan -->
        <button type="button"> <img src="/imagenes/virtualEma.png" height ="80" width="100" /></button>  <!-- Virtual Ema -->
        <button type="button"> <img src="/imagenes/padoru.png" height ="80" width="100" /></button>  <!-- Padoru E -->
        <button type="button"> <img src="/imagenes/rengar.png" height ="80" width="100" /></button>  <!-- Rengar -->
        <button type="button"> <img src="/imagenes/mariaYmatute.png" height ="80" width="100" /></button>  <!-- Maria y Matute -->
      </div>