 <!-- PERSONAJES -->
      <div class="navbar navbar-dark bg-dark nav nav-pills nav-fill">
      
      <li class="nav-item">
        <a th:href="@{/elemanu}"><img src="/imagenes/elemanu.png" height ="80" width="100" /></a>
      </li>  
      <!-- ElEmanu -->
      
      <li class="nav-item">
        <a th:href="@{/tjmorgan}"> <img src="/imagenes/TJMorgan.png" height ="80" width="100" /></a> 
      </li> 
      <!-- TJ Morgan -->
        
      <li class="nav-item">  
        <a th:href="@{/vema}"> <img src="/imagenes/virtualEma.png" height ="80" width="100" /></a>
        </li> 
         <!-- Virtual Ema -->
        
      <li class="nav-item">
        <a th:href="@{/padoru}"> <img src="/imagenes/padoru.png" height ="80" width="100" /></a>
        </li> 
         <!-- Padoru E -->
        
        <li class="nav-item">
        <a th:href="@{/rengar}"> <img src="/imagenes/rengar.png" height ="80" width="100" /></a>
        </li>
          <!-- Rengar -->
          
          <li class="nav-item">
        <a th:href="@{/mariaymatute}"> <img src="/imagenes/mariaYmatute.png" height ="80" width="100" /></a> 
        </li> <!-- Maria y Matute -->
      </div>