 <!-- PERSONAJES -->
      <div>
        <button type="button"> <img src="" height ="80" width="100" /></button>  <!-- ElEmanu -->
        <button type="button"> <img src="" height ="80" width="100" /></button>  <!-- TJ Morgan -->
        <button type="button"> <img src="" height ="80" width="100" /></button>  <!-- Virtual Ema -->
        <button type="button"> <img src="" height ="80" width="100" /></button>  <!-- Padoru E -->
        <button type="button"> <img src="" height ="80" width="100" /></button>  <!-- Rengar -->
        <button type="button"> <img src="" height ="80" width="100" /></button>  <!-- Maria y Matute -->
      </div>