<meta charset="UTF-8">
<div class="footer">
        <div class="container">
            <div class="col">
                <div class="footer-link">
                    <h2>Preguntas Frecuentes</h2>
                    <a href="/informacion">Información</a>
                    <a href="/informacion">Cómo seguirnos</a>
                    <a href="/FAQ">FAQ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <p>&copy; <a href="/">La Choza del Ema</a>, All Right Reserved. Designed By <a href=""> Pibardos argentos relocos. </a></p>
    </div>