<meta charset="UTF-8">

        <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Consultenos</h3>
                        <ul>
                            <li><a href="#">Preguntas Frecuentes</a></li>
                            <li><a href="#">Información</a></li>
                            <li><a href="#">Consultas</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Acerca de</h3>
                        <ul>
                            <li><a href="#">Quienes somos</a></li>
                            <li><a href="#">Equipo</a></li>
                            <li><a href="#">Oficios</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>La Choza del Ema</h3>
                        <p>Somos un grupo de fanáticos alocados, amantes del anime y de los videojuegos, quienes compartimos
                        nuestras opiniones acerca de todo lo que abarque el mundo friki. Disfruta con nosotros nuestros videos.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
        </footer>
    </div>
    <!--
    <div class="container copyright">
        <p>&copy; <a href="/">La Choza del Ema</a>, All Right Reserved. Designed By <a href=""> Pibardos argentos relocos. </a></p>
    </div>
    
    <footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">La Choza del Ema</a>
  </div>
  <!-- Copyright -->
</footer>